* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Montserrat, sans-serif;
}

#nav-bar {
    height: 10vh;
    background: hsl(0, 0%, 70%);
}

.nav-Links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
}

#header-img {
    flex-grow: 2;
}
.nav-link {
    padding: 8px;
    margin: 8px;
    margin-right: 35px;
}

.nav-Links li a:hover {
    color: hsl(9, 39%, 49%);
}

.nav-Links li a {
    color: #af844c;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

#section1 {
    text-align: center;
    padding: 40px 10px;
}

#section1 h1 {
    font-style: italic;
    text-shadow: 2px 2px 3px #af844c;
}

#shiftImg {
    max-width: 300px;
    border-radius: 18px;
    margin-top: 20px;
    opacity: 0.8;
}

#email {
    width: 50%;
    height: 40px;
    font-family:  Montserrat, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 20px 10px ;
    border-radius: 10px;
    border: solid 1px hsl(0, 0%, 70%);
}

#submit {
    width: 40%;
    background-color: #af844c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transform: skewX(-14deg);

}